@font-face {
    font-family: "Comrtaa";
    src: url("./fonts/Comforrta/Comfortaa-Medium.ttf") format("ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "EBGaramond";
    src: url("./fonts/EBGaramond/EBGaramond-Medium.ttf") format("ttf");
    font-style: normal;
    font-display: swap;
}

.pink {
    background-color: #49365F;
}